# Игнорируем всё
/*

# НЕ игнорируем папку app и всё, что в ней лежит
!/app/
!/app/*

# НЕ игнорируем файлы в корне
!build.gradle
!settings.gradle

# А вот внутри app игнорируем стандартные системные папки
/app/build/
/app/.idea/
/app/*.iml

# Но разрешаем папку src внутри app (если в ней нужный код)
!/app/src/